
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="title">
    <span class="title_icon">
        <img src="@Url.Content("~/Content/Custom/")images/bullet1.gif" alt="" />
    </span>My cart
</div>

<div class="feat_prod_box_details">
    <p>Thanks for buying my product. Click <a href="@Url.Action("Inde", "Home")">here</a> to continue</p>
</div>
